.community {
    width: 100%;
    border-bottom: 2px solid rgb(240, 240, 240);

    .sub_visual {
        width:100%; 
        height:250px; 
        
        background:rgb(240, 240, 240); 
        background: url(../img/iceland.jpg) no-repeat center/cover;
        opacity: 0.8;

        margin-bottom: 100px;
    }

    .inner {
        width:1180px; 
        margin:0 auto; 

        h1 {
            img {
                display: inline-block;
                width: 40px;
                margin-right: 10px;
                transform: translateY(10px);
            }
            font: bold 30px/1 "Roboto";
            padding-bottom: 30px;
            color: #555;
        }

        .searchBox {
            width: 100%;
            background-color: rgb(240, 240, 240);
            height: 120px;
            margin-bottom: 50px;
            text-align: center;

            .SelectCommunity {
                display: inline-block;
                width: 120px;
                height: 35px;
                background: #555;

                a {
                    font: bold 12px/1 'Roboto';
                    text-align: center;
                    line-height: 35px;
                    color: #fff;
                }
            }

            input[type=text]{
                display: inline-block;
                width: 500px;
                height: 35px;
                border: none;
                padding-left: 30px;
                box-sizing: border-box;
                font: bold 12px/1px "Roboto";
                margin-top: 45px;
            }

            .btnSearch {
                display: inline-block;
                width: 150px;
                height: 35px;
                background: rgb(230, 0, 0);
                font: bold 12px/30px "Roboto";
                color: #fff; 
                text-align: center;
                cursor: pointer; 
                border: none;
            }
        }

        table {
            .hidden {
                position:absolute; top:-9999px; opacity:0;
            }
            width:100%; 
            border-bottom:2px solid #111; 
            margin-bottom:50px;
            border-collapse:collapse;  

            tr {
                &:hover {
                    td {
                        background:rgb(240, 240, 240); 
                    }
                }
            }

            th {
                padding:15px; 
                background:#fff; 
                color:#444; 
                border-bottom: 2px solid #555;

                &:nth-of-type(1) {width:10%;}
                &:nth-of-type(3) {width:15%;}
                &:nth-of-type(4) {width:15%;}
            }

            td {
                padding:13px; 
                font-weight: bold;
                border-bottom:1px solid #ddd; 
                text-align:center; 
                color:#555; 

                &:nth-of-type(2) {
                    text-align:left;

                    a {
                        float:left; 
                        color:#333;
                        font-family:"Roboto"; 
                        font-weight: normal;
                        line-height:1.4;  
                    }
                }

                &:nth-of-type(3)  {
                    font-family:"Roboto"; 
                }
            }
        }

        .pagination{
            width:100%; 
            text-align:center; 

            &::after {
                content:''; display:block; clear:both; 
            }

            .numbers{
                display:inline-block; 
                text-align:center; 
                font-size:0; 
                margin-bottom: 50px;
                
                a {
                    display:inline-block; 
                    width:30px; 
                    height:30px; 
                    border:1px solid #888; 
                    font:11px/30px 'Roboto'; 
                    color:#666; 
                    text-align:center; 
                    margin:0 5px; 
                    transition:0.5s; 

                    &:hover {
                        background:#666; color:#fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1179px) {
    .community {
        .inner {
            width: 100%;
            >h1 {
                text-align: center;
                img {
                    display: inline-block;
                    width: 40px;
                    margin-right: 10px;
                    transform: translateY(10px);
                }
                font: bold 30px/1 "Roboto";
                padding-bottom: 30px;
                color: #555;
            }
    
            .searchBox {
                width: 100%;
                background-color: rgb(240, 240, 240);
                height: 120px;
                margin-bottom: 50px;
                text-align: center;
    
                .SelectCommunity {
                    display: inline-block;
                    width: 120px;
                    height: 35px;
                    background: #555;
    
                    a {
                        font: bold 12px/1 'Roboto';
                        text-align: center;
                        line-height: 35px;
                        color: #fff;
                    }
                }
    
                input[type=text]{
                    display: inline-block;
                    width: 500px;
                    height: 35px;
                    border: none;
                    padding-left: 30px;
                    box-sizing: border-box;
                    font: bold 12px/1px "Roboto";
                    margin-top: 45px;
                }
    
                .btnSearch {
                    display: inline-block;
                    width: 150px;
                    height: 35px;
                    background: rgb(230, 0, 0);
                    font: bold 12px/30px "Roboto";
                    color: #fff; 
                    text-align: center;
                    cursor: pointer; 
                    border: none;
                }
            }
    
            table {
                th {
                    &:nth-of-type(1) {width:15%;}
                    &:nth-of-type(3) {width:17%;}
                    &:nth-of-type(4) {width:0%; display: none;}
                }
    
                td {
                    &:nth-of-type(4)  {
                        width:0%; display: none;
                    }
                }
            }
    
            .pagination{
                width:100%; 
                text-align:center; 
    
                &::after {
                    content:''; display:block; clear:both; 
                }
    
                .numbers{
                    display:inline-block; 
                    text-align:center; 
                    font-size:0; 
                    margin-bottom: 50px;
                    
                    a {
                        display:inline-block; 
                        width:30px; 
                        height:30px; 
                        border:1px solid #888; 
                        font:11px/30px 'Roboto'; 
                        color:#666; 
                        text-align:center; 
                        margin:0 5px; 
                        transition:0.5s; 
    
                        &:hover {
                            background:#666; color:#fff;
                        }
                    }
                }
            }
        }   
    }
}

@media screen and (max-width:539px) {
    .community {
        .inner {

            .searchBox {
                width: 100%;
                background-color: rgb(240, 240, 240);
                height: 120px;
                margin-bottom: 50px;
                text-align: center;
    
                .SelectCommunity {
                    display: inline-block;
                    width: 100px;
                    height: 35px;
                    background: #555;
    
                    a {
                        font: bold 10px/1 'Roboto';
                        text-align: center;
                        line-height: 35px;
                        color: #fff;
                    }
                }
    
                input[type=text]{
                    width: 200px;
                    height: 35px;
                }
    
                .btnSearch {
                    width: 100px;
                    height: 35px;
                }
            }

            table {
                th {
                    &:nth-of-type(1) {width:0%; display: none;}
                    &:nth-of-type(3) {width:27%;}
                }
    
                td {
                    font-size: 13px;

                    &:nth-of-type(1)  {
                        width:0%; display: none;
                    }
                }
            }
    
            .pagination{
                .numbers{
                    display: none;
                }
            }
        }
    }
}